<blockquote>
  <div>
    Classification: <%#= @bike.category.try(:name) %>
</div>
<h3>Title:</h3>
<div class="panel-heading"><%= @bike.name %></div>
<div class="panel-body">
  <p><%=simple_format @bike.description %></p>
</div>
</blockquote>

<p><%= link_to "Back to index", bikes_path %></p>

<h4><%= @bike.attendees.count %>Comments</h4>
<%#= render @event.comments %>

<div class="panel-footer">
  <%= render :partial=> 'bike_attendees/attendee' %>
</div>

</div>
<h4>Add a comment:</h4>
<%= render "bike_attendees/form" %>
