<%= form_for ([@bike, @bike.attendees.build]) do |f| %>

  <div>
    <%= f.label :name, "Name" %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :body, "Comment" %>
    <%= f.text_field :body %>
  </div>

  <%= f.submit %>

<%end %>
